.A1{
    border: 2px solid black;
    color: white;
    background-color: aqua;
    text-align: center;
}
img {
    max-width: 25%;
    height: auto;
  }

  .A2{
      float: right;
  }

  .A4{
      float:center;
  }
  
  .A5{
      text-align: center;
      border-width: 5px;
      background-color: aqua;
      color: white;
  }
  .A7{
    text-align: center;
    border-width: 10px;
    background-color: aqua;
    color: white;
  }
  .A8{
      background-color: aqua;
      color: white;
  }